---
import { Image } from "astro:assets"
import img1 from "../assets/img/jpg-new/1_haus.jpeg"
import img2 from "../assets/img/jpg-new/2_garten.jpg"
import img3 from "../assets/img/jpg-new/3_flur.jpg"
import img4 from "../assets/img/jpg-new/4_flur.jpg"
import img5 from "../assets/img/jpg-new/5_kamin.jpg"
import img6 from "../assets/img/jpg-new/6_wohnraum.jpg"
import img8 from "../assets/img/jpg-new/8_kuche.jpg"
import img9 from "../assets/img/jpg-new/9_kindernische.jpg"
import img10 from "../assets/img/jpg-new/10_bett.jpg"
import img11 from "../assets/img/jpg-new/11_schtuhl.jpeg"
import img12 from "../assets/img/jpg-new/12_bad.jpg"
import img13 from "../assets/img/jpg-new/13_schlafboden.jpg"
import img14 from "../assets/img/jpg-new/14_bild.jpg"
import img15 from "../assets/img/jpg-new/15_front1.jpg"
import img17 from "../assets/img/jpg-new/17_eingang.jpg"
import img18 from "../assets/img/jpg-new/18_bad.jpeg"
import img19 from "../assets/img/jpg-new/19_see.jpg"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import { frontmatter as markdown } from "../content/de/house.md"
import { SECTIONS } from "../utils/constants"
---

<style is:global>
    :root {
        --aspect-landscape: 1.6 / 1;
        --aspect-portrait: 5 / 7;
        --aspect-entrance: 1.518 / 1;
    }

    .grid-img {
        width: 100%;

        & img {
            height: auto;
            width: 100%;
        }
    }

    #das-haus {
        scroll-margin-top: -35px;
    }

    /*    "Ökologisches Ferienhaus"    */
    #title1 {
        grid-area: 1 / 1 / 2 / 6;
        padding-bottom: -40px;

        & h2 {
            font-size: 1.5rem;
        }

        @media (min-width: 730px) {
            font-size: 1.7rem;
        }

    }
    #text1 {
        grid-area: 2 / 1 / 3 / 6;
    }
    #text2 {
        grid-area: 9 / 1 / 10 / 6;
    }
    #text3 {
        grid-area: 17 / 1 / 18 / 6;
    }
    #img1 {
        /* haus draußen */
        grid-area: 3 / 2 / 5 / 5;
        aspect-ratio: var(--aspect-landscape);
    }
    #img2 {
        /* haus draußen klein */
        grid-area: 5 / 4 / 6 / 5;
        aspect-ratio: var(--aspect-landscape);
        align-self: start;
    }
    #img3 {
        /* flur Küche */
        grid-area: 5 / 2 / 7 / 3;
        aspect-ratio: var(--aspect-portrait);
        align-self: start;
    }
    #img4 {
        /* flur Gallery */
        grid-area: 6 / 4 / 8 / 5;
        aspect-ratio: var(--aspect-portrait);
        align-self: center;
    }
    #img5 {
        /* couch */
        grid-area: 7 / 2 / 9 / 3;
        aspect-ratio: var(--aspect-portrait);
        align-self: end;
    }
    #img6 {
        /* wohnraum */
        grid-area: 8 / 4 / 9 / 5;
        aspect-ratio: var(--aspect-landscape);
        align-self: end;
    }
    #img8 {
        /* kuche */
        grid-area: 10 / 2 / 12 / 5;
        aspect-ratio: var(--aspect-landscape);
    }
    #img9 {
        /* kindernische */
        grid-area: 12 / 4 / 13 / 5;
        aspect-ratio: var(--aspect-landscape);
    }
    #img10 {
        /* bett */
        grid-area: 12 / 2 / 14 / 3;
        aspect-ratio: var(--aspect-portrait);
    }
    #img11 {
        /* stuhl */
        grid-area: 13 / 4 / 15 / 5;
        aspect-ratio: var(--aspect-portrait);
    }
    #img12 {
        /* bad */
        grid-area: 14 / 2 / 16 / 3;
        aspect-ratio: var(--aspect-portrait);
        align-self: start;
    }
    #img13 {
        /* schlafboden */
        grid-area: 15 / 4 / 17 / 5;
        aspect-ratio: var(--aspect-portrait);
        align-self: end;
    }
    #img14 {
        /* bild */
        grid-area: 16 / 2 / 17 / 3;
        aspect-ratio: var(--aspect-landscape);
        align-self: end;
    }
    #img15 {
        grid-area: 18 / 2 / 20 / 5;
        aspect-ratio: var(--aspect-landscape);
        align-self: end;
    }
    #img17 {
        grid-area: 20 / 2 / 21 / 3;
        aspect-ratio: var(--aspect-entrance);
    }
    #img18 {
        grid-area: 20 / 4 / 22 / 5;
        aspect-ratio: var(--aspect-portrait);
    }
    #img19 {
        grid-area: 21 / 2 / 22 / 3;
        aspect-ratio: var(--aspect-entrance);
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media (min-width: 730px) {
            display: grid;
            grid-template-columns: 1% 47% 4% 47% 1%;
            grid-template-rows: auto;
            gap: 30px 0;
        }

        @media (min-width: 880px) {
            grid-template-columns: 8% 40% 4% 40% 8%;
            gap: 40px 0;
        }

        @media (min-width: 1300px) {
            grid-template-columns: 12% 36% 4% 36% 12%;
        }

        @media (min-width: 1650px) {
            grid-template-columns: 14% 34% 4% 34% 14%;
            gap: 50px 0;
        }
    }
</style>


<Section id={SECTIONS.house} className="grid-container">

    <SectionContent id="title1" type="text">
        <a href=`#${SECTIONS.house}`>
            <h2>
                <span set:html={markdown.title1} />
                <span set:html={markdown.title2} />
            </h2>
        </a>
    </SectionContent>

    <SectionContent id="text1" type="text">
        <p set:html={markdown.text1} />
    </SectionContent>

    <div class="grid-img reveal" id="img1">
        <Image
            src={img1}
            alt="House with big window"
            format="avif"
            widths={[380, 580, 1000, img1.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img1.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img2" data-delay="50">
        <Image
            src={img2}
            alt="Garden view of house"
            format="avif"
            widths={[380, 580, 1000, img2.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img2.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img3" data-delay="50">
        <Image
            src={img3}
            alt="Hallway to kitchen"
            format="avif"
            widths={[380, 580, 1000, img3.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img3.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img4" data-delay="50">
        <Image
            src={img4}
            alt="Hallway gallery"
            format="avif"
            widths={[380, 580, 1000, img4.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img4.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img5" data-delay="50">
        <Image
            src={img5}
            alt="Fireplace and couch area"
            format="avif"
            widths={[380, 580, 1000, img5.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img5.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img6" data-delay="50">
        <Image
            src={img6}
            alt="Living room"
            format="avif"
            widths={[380, 580, 1000, img6.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img6.width}px`}
        />
    </div>

    <SectionContent id="text2" className="reveal" data-delay="50" type="text">
        <p set:html={markdown.text2}/>
    </SectionContent>

    <div class="grid-img reveal" id="img8" data-delay="50">
        <Image
            src={img8}
            alt="Kitchen"
            format="avif"
            widths={[380, 580, 1000, img8.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img8.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img9" data-delay="50">
        <Image
            src={img9}
            alt="Children's nook"
            format="avif"
            widths={[380, 580, 1000, img9.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img9.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img10" data-delay="50">
        <Image
            src={img10}
            alt="Bedroom"
            format="avif"
            widths={[380, 580, 1000, img10.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img10.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img11" data-delay="50">
        <Image
            src={img11}
            alt="Chair area"
            format="avif"
            widths={[380, 580, 1000, img11.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img11.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img12" data-delay="50">
        <Image
            src={img12}
            alt="Bathroom"
            format="avif"
            widths={[380, 580, 1000, img12.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img12.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img13" data-delay="50">
        <Image
            src={img13}
            alt="Sleeping loft"
            format="avif"
            widths={[380, 580, 1000, img13.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img13.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img14" data-delay="50">
        <Image
            src={img14}
            alt="Artwork"
            format="avif"
            widths={[380, 580, 1000, img14.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img14.width}px`}
        />
    </div>

    <SectionContent id="text3" className="reveal" data-delay="50" type="text">
        <p set:html={markdown.text3}/>
    </SectionContent>

    <div class="grid-img reveal" id="img15" data-delay="50">
        <Image
            src={img15}
            alt="Front view of house"
            format="avif"
            widths={[380, 580, 1000, img15.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img15.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img17" data-delay="20">
        <Image
            src={img17}
            alt="Entrance"
            format="avif"
            widths={[380, 580, 1000, img17.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img17.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img18" data-delay="30">
        <Image
            src={img18}
            alt="Bathroom detail"
            format="avif"
            widths={[380, 580, 1000, img18.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img18.width}px`}
        />
    </div>
    <div class="grid-img reveal" id="img19" data-delay="20">
        <Image
            src={img19}
            alt="Lake view"
            format="avif"
            widths={[380, 580, 1000, img19.width]}
            sizes={`(max-width: 380px) 380px, (max-width: 580px) 580px, (max-width: 1000px) 1000px, ${img19.width}px`}
        />
    </div>
</Section>