---
import { Image } from "astro:assets"

// Import your images
import berkerImg from "../assets/png/footer/1_berker.png"
import dornbrachtImg from "../assets/png/footer/2_dornbracht.png"
import rathscheckImg from "../assets/png/footer/3_ratthscheck.png"
import keimImg from "../assets/png/footer/4_keim.png"
import claytecImg from "../assets/png/footer/5_claytec.png"
import cramerImg from "../assets/png/footer/6_cramer.png"
import kalfireImg from "../assets/png/footer/7_kalfire.png"
import oblikImg from "../assets/png/footer/8_oblik.png"
import prostoriaImg from "../assets/png/footer/9_prostoria.png"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
---

<style is:global>
    footer {
        width: auto;
        height: auto;
        z-index: -1;
        position: static;
        bottom: 0;
        left: 0;
        padding: 60px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    footer * {
        width: 100%;
    }
    .icons-wrap {
        margin: 30px 0;
        width: 100%;
        gap: 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    }
    .icons-wrap a {
        height: 35px;
        width: auto;
        display: flex;
        align-items: center;

    }
    .footer-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 30px 0;
    }
    .impressum {
        display: flex;
        width: auto;
        gap: 40px;
    }
    @media (max-width: 449px) {
        .impressum {
            flex-direction: column;
        }
        .impressum a {
            text-align: end;
        }
    }
    @media (min-width: 450px) {
        .impressum {
            flex-direction: row;
        }
    }
    footer a {
        text-decoration: none;
        color: black;
        align-self: flex-end;
        font-family: "Raleway", sans-serif;
        letter-spacing: 2px;
    }
    footer a:hover {
        font-weight: 1000;
    }
    #copyright {
        margin-left: 0;
        pointer-events: none;
        user-select: none;
    }
    #copyright:hover {
        font-family: "Raleway", sans-serif;
    }
    #partner {
        font-weight: 1000;
    }
    #prostoria {
        height: 30px;
    }
</style>

<footer>
    <SectionHeader position="left">
        <h3 id="partner">PARTNER</h3>
    </SectionHeader>
    <SectionContent type="media">
        <div class="icons-wrap">
            <a href="https://www.berker.com" aria-label="Berker">
                <Image
                    src={berkerImg}
                    alt="berker"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://www.dornbracht.com/de" aria-label="Dornbracht">
                <Image
                    src={dornbrachtImg}
                    alt="dornbracht"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://www.rathscheck.de" aria-label="Rathscheck">
                <Image
                    src={rathscheckImg}
                    alt="rathscheck"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://www.keim.com/de-de" aria-label="KEIM">
                <Image
                    src={keimImg}
                    alt="keim"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://www.claytec.de/" aria-label="Claytec">
                <Image
                    src={claytecImg}
                    alt="claytec"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://www.cramer-moebel.de/" aria-label="Cramer Möbel">
                <Image
                    src={cramerImg}
                    alt="cramer"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://kalfire.com/de" aria-label="Kalfire">
                <Image
                    src={kalfireImg}
                    alt="kalfire"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://oblik.berlin/de" aria-label="OBLIK">
                <Image
                    src={oblikImg}
                    alt="oblik"
                    height={35}
                    format="avif"
                    loading="lazy"
                />
            </a>
            <a href="https://www.prostoria.eu/de/" aria-label="Prostoria">
                <Image
                    src={prostoriaImg}
                    alt="prostoria"
                    height={30}
                    format="avif"
                    loading="lazy"
                    id="prostoria"
                />
            </a>
        </div>
    </SectionContent>

    <SectionContent type="footer">
        <div class="footer-bottom">
            <a id="copyright">COPYRIGHT © {new Date().getFullYear()} SCHEUNENHAUS AM SEE</a>
            <div class="impressum">
                <a href="/impressum">IMPRESSUM</a>
                <a href="/datenschutz">DATENSCHUTZ</a>
            </div>
        </div>
    </SectionContent>

</footer>
