---
import GoogleMaps from "../components/GoogleMaps.astro"
import ScrollTrigger from "../components/ScrollTrigger.astro"
import Section from "../components/Section.astro"
import SectionContent from "../components/SectionContent.astro"
import SectionHeader from "../components/SectionHeader.astro"
import { frontmatter as markdown } from "../content/de/contact.md"
import { SECTIONS } from "../utils/constants"
---

<style is:global>
    #contact {
        height: auto;
        /* horizontal bottom shadow */
        box-shadow: 0 22px 23px -10px #d1d1d1;
    }

    .pb-0 {
        padding-bottom: 0;
    }

    #contact-info{
        margin-bottom: 4vh;
    }
    #contact a:link {
        text-decoration: none;
        color: black;
    }

</style>


<Section id={SECTIONS.contact} className="pb-0">
    <SectionHeader position="left">
        <a href={SECTIONS.contact} aria-label={markdown.header}>
            <h3 set:html={markdown.header} />
        </a>
    </SectionHeader>
    <SectionContent id="contact-info" type="text">
        <p set:html={markdown.content} />
    </SectionContent>
    <SectionContent type="media" className="box-shadow">
        <GoogleMaps />
    </SectionContent>
    <ScrollTrigger />
</Section>




